@import url('https://fonts.googleapis.com/css?family=Muli|Raleway');
html {
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #5d5d6a;
  background-color: #FEFEFE;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #3c3c3c;
  margin: 0;
}
body p {
  font-size: 14px;
  margin: 0;
}
body a {
  color: #444444;
  text-decoration: none;
}
body a:hover {
  color: #ec4640;
}
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
}
body container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75px;
  top: 0;
}
nav .logo {
  font-size: 16.8px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
nav .logo a:hover {
  color: #444444;
}
nav .menuList {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin: 0;
}
nav .menuList .menuItem {
  list-style: none;
  margin-right: 50px;
}
nav .menuList.Small {
  display: none;
}
section.titleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: auto;
  margin: 75px 25px;
}
section.titleText .contentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section.titleText .mainTitle {
  font-size: 42px;
  margin-bottom: 25px;
}
section.titleText .subTitle {
  display: flex;
  flex-direction: row;
  font-size: 16.8px;
  text-align: center;
  margin-bottom: 25px;
}
section.titleText .normalText {
  margin-bottom: 50px;
}
section.titleText .buttonStyle {
  background-color: rgba(255, 255, 255, 0.45);
  border: 1px solid #ec4640;
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ec4640;
  padding: 16px 45px;
  transition: all 0.3s ease-in-out;
}
section.titleText .buttonStyle:hover {
  background-color: #ec4640;
  color: white;
  box-shadow: 5px 10px 35px rgba(236, 70, 64, 0.5);
}
footer.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
}
footer.footer .footerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 869px) {
  .normalText {
    line-height: 1.75;
  }
}
@media screen and (max-width: 575px) {
  .menuList.Small {
    display: flex !important;
  }
  .menuList.Big {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav .logo {
    font-size: 16.8px !important;
    margin-left: 0px;
  }
  nav .menuList.Small {
    display: none !important;
  }
  nav .menuList.Big {
    display: none;
  }
  .mainTitle {
    font-size: 28px !important;
  }
  .subTitle {
    line-height: 1.75;
  }
  .menuList.Small {
    display: none !important;
  }
  .menuList.Big {
    display: none;
  }
  .buttonStyle {
    width: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: 4em;
  margin-bottom: 25px;
  animation: rotate 3s infinite;
}
.loading-element {
  animation: pulse 1.5s ease-in-out alternate infinite;
  width: 1em;
  height: 1em;
  margin: 0.2em;
  border-radius: 2px;
  background-color: #3c3c3c;
  float: left;
}
.loading-element:nth-child(2) {
  animation-delay: 0.1s;
  background-color: #ec4640;
}
.loading-element:nth-child(3) {
  animation-delay: 0.15s;
}
.loading-element:nth-child(4) {
  animation-delay: 0.2s;
}
