@media screen and (max-width: 869px) {
	.normalText {
		line-height: 1.75;
	}
}


@media screen and (max-width: 575px) {
	.menuList.Small {
		display: flex !important;
	}

	.menuList.Big {
		display: none;
	}
}

@media screen and (max-width: 465px) {
	.mainTitle {
		font-size: @font-sizeHuge !important;
	}
	.subTitle {
		line-height: 1.75;
	}
}
